<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Postino</title>
  <script defer src="index.js"></script>
</head>

<body>
  <h3>Postino</h3>

  <div>
    <%= output %>
  </div>

  <div class="container">


    <div class="controls">
      <a href="#" id="take-photo" title="Take Photo"> Take Photo </a>
    </div>
    <canvas id="canvas"></canvas>


  </div>
</body>

</html>